<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84705233733-9revnq5nujhahiuiot173vpabgv4jt4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84705233733-9revnq5nujhahiuiot173vpabgv4jt4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84705233733-06720bct25h3eellqjrm2pugll409bbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVuVPwEt39jndDqfsG_-pGTITGHTZxS0k</string>
	<key>GCM_SENDER_ID</key>
	<string>84705233733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.claimsentinel</string>
	<key>PROJECT_ID</key>
	<string>claimsentinel</string>
	<key>STORAGE_BUCKET</key>
	<string>claimsentinel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84705233733:ios:32774c2a88db9232524c2c</string>
</dict>
</plist>